
*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;
  					   width: 100%;
  					   display: inline-block;}

#ErrorMsgs           { color: #f61; font-size: smaler}
.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;}

.tabla_resultado_busq
{
    FONT-SIZE: 12px;
    WIDTH: 50%;
    COLOR: black;
    FONT-FAMILY: Verdana;
    padding:1px 1px 1px 1px;
    text-align:left;
    margin-top: 10px;
}

.titulo
{
	background: #ddd;
	color: #2f4f4f;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-left: 2px solid #dadada;
	border-top: 2px solid #dadada;
	text-align: left;
	font-weight: bold;
}

.botones
{
	text-align: center;
	width: 15%;
}

button
{
	 padding:1px 5px 1px 5px;
	 height: :15px;
	 font-size: 12px;

}
