	<form method="get" action="/quizes/answer">
	Pregunta: <%= pregunta %> <p/>
	<input type="text" name="respuesta" required placeholder="Responda aquí" value=""/>
	<input type="submit" name="Enviar respuesta"/>
	</form>
